.home-screen-container{
    padding: 32px 15px;
}

.home-screen-search{
    display: flex;
    margin: 20px 0;
    padding: 16.5px 14px;
    border-radius: 5px;
    border: 1.6px solid;
    color: #a2a2a2;

}
.home-screen-search:hover{
    cursor: pointer;
}

.home-screen-search div{
    margin-left: 20px;
}

.home-screen-heading{
    margin-top: 4% !important;
    margin-bottom: 2% !important;
    font-size: 50px !important;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .home-screen-heading{
       
        font-size: 30px !important;
    }
  }